.page {
  position: absolute;
  top: 56px;
  width: 100vw;
  color: white;
  height: calc(100vh - 56px);
  background: #1f1f1f;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
