.page {
  position: absolute;
  top: 56px;
  width: 100vw;
  height: calc(100vh - 56px);
  background: #121212;
  overflow-x: auto;

  display: grid;
  place-items: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
