.page-wrapper {
  position: absolute;
  top: 56px;
  width: 100vw;
  height: calc(100vh - 56px);
  color: white;
  overflow-x: auto;

  background: #0a0a0a;

  .main-hero {
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .box-wrapper {
    display: inline;
    background: white;
  }

  .main-hero .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading {
    text-align: center;
    background: linear-gradient(
      74deg,
      #6bb5ff 0%,
      /* Soft red */ #ff8e53 25%,
      /* Orange-pink */ hsl(278, 60%, 54%) 60%,
      /* Orange-pink */ #41bfd0 80%,
      /* Golden yellow */ #f08a5d 100% /* Muted peach */
    );
    background-clip: text;
    font-size: 80px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 300% 300%; /* Enlarged for smooth movement */
    animation: gradient-animation 4s ease infinite; /* Apply animation */
  }

  .main-subheading {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
    font-weight: normal;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
